.coders-grid {
  padding: 10px;
}
.coders-card {
  width: 100%;
  padding: 5px;
  margin-bottom: 0;
  border: solid 1px var(--primary-color);
  background-color: var(--dark-color);
  transition: 0.5s;
  transform: scale(0.95);
}
.coders-card:hover {
 transform: scale(1.05);
 transition: 1s;
 box-shadow: 0 4px 2px -2px var(--primary-color);
}

.card-title {
  margin: 0px;
  padding: 5px;
}

.coders-card .card-title {
  margin: 0;
  border: 0;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: #003 2px 2px;
}

.card-content img {
  width: 100%;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.card-link {
  padding: .25rem;
  margin-left: 1rem;
  color: var(--ligth-color);
  text-transform: uppercase;
}

@media all and (min-width: 480px) {
  .coders-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow: hidden;
  }

  .coders-card .card-title {
    font-size: 1rem;
  }
}

@media all and (min-width: 560px) {
  .coders-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 768px) {
  .coders-card .card-title {
    font-size: 1.25rem;
  }
}