.header {
  background: url("../img/bg.jpg") bottom center;
  background-size: cover;
  height: 100vh;
  padding-top: 65px;
  position: relative;
  z-index: 30;
  transition: 1s;
  filter: grayscale(100%);
}

.header:hover {
  filter: none;
  transition: 1s;
}

.header-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 31;
}

.header-content {
  position: absolute;
  z-index: 32;
  padding: 2rem;
  border-radius: 20px;
}

.header-content > h1 {
  text-align: center;
  margin: 0;
  padding: 0 0 1.25rem 0;
}

.header-content .logo,
.header-content .logo span {
  font-size: 2rem;
}

.header-content .tagline {
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.header-content .promo-text {
  margin: 70% -2rem 0 -2rem;
  background-color: rgba(75, 75, 75, 0.25);
  padding: 2rem 2rem;
  text-shadow: black 2px 2px 2px;
}

@media all and (orientation: landscape) and (max-height: 479px) {
  .header-content .promo-text {
    margin-top: 0;
  }
}

@media all and (min-width: 480px) {
  .header-content {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    min-width: 480px;
  }
}
